<h2 class="header">Lista de pedidos</h2>

<table class="highlight">
    <thead>
    <tr>
        <th class="hidden">ID</th>
        <th class="hidden">method</th>
        <th>Cliente</th>
        <th>Email</th>
        <th>Telephone</th>
        <th>status</th>
    </tr>
    </thead>

    <tbody>
    <!-- BEGIN PEDIDOS_BLOCK -->
    <tr>
        <td class="hidden">{ORDERID}</td>
        <td class="hidden">{METHOD}</td>
        <td>{NAME}</td>
        <td>{EMAIL}</td>
        <td>{TELEPHONE}</td>
        <td class="tmz-order-status">{STATUS}</td>
    </tr>
    <!-- END PEDIDOS_BLOCK -->
    </tbody>

</table>