<h2 class="header">Pedido</h2>

<blockquote>
    Descrição detalhada do pedido
</blockquote>

<h3 class="titlehr">Dados Gerais</h3>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">Método</div>
        <div class="tmz-data-value">{METODO}</div>
    </div>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">Status</div>
        <div class="tmz-data-value">{STATUS}</div>
    </div>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">Localização</div>
        <div class="tmz-data-value">-</div>
    </div>

<h3 class="titlehr">Titular</h3>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">Nome</div>
        <div class="tmz-data-value">{NOME}</div>
    </div>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">CPF</div>
        <div class="tmz-data-value">{CPF}</div>
    </div>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">RG</div>
        <div class="tmz-data-value">{RG}</div>
    </div>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">Data de Nascimento</div>
        <div class="tmz-data-value">{NASCIMENTO}</div>
    </div>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">Sexo</div>
        <div class="tmz-data-value">{SEXO}</div>
    </div>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">Estado Civil</div>
        <div class="tmz-data-value">{ESTADOCIVIL}</div>
    </div>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">Email</div>
        <div class="tmz-data-value">{EMAIL}</div>
    </div>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">Telefone</div>
        <div class="tmz-data-value">{TELEFONE}</div>
    </div>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">Telefone Res.</div>
        <div class="tmz-data-value">{TELRES}</div>
    </div>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">Nome da Mãe</div>
        <div class="tmz-data-value">{MAE}</div>
    </div>

<h3 class="titlehr">Endereço</h3>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">Logradouro</div>
        <div class="tmz-data-value">{LOGRADOURO}</div>
    </div>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">Número</div>
        <div class="tmz-data-value">{NUMERO}</div>
    </div>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">Complemento</div>
        <div class="tmz-data-value">{COMPLEMENTO}</div>
    </div>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">Bairo</div>
        <div class="tmz-data-value">{BAIRRO}</div>
    </div>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">Cidade</div>
        <div class="tmz-data-value">{CIDADE} - {ESTADO}</div>
    </div>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">CEP</div>
        <div class="tmz-data-value">{CEP}</div>
    </div>

<h3 class="titlehr">Responsável Financeiro</h3>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">Nome</div>
        <div class="tmz-data-value">{RESP_NOME}</div>
    </div>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">CPF</div>
        <div class="tmz-data-value">{RESP_CPF}</div>
    </div>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">Data de Nascimento</div>
        <div class="tmz-data-value">{RESP_NASCIMENTO}</div>
    </div>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">Sexo</div>
        <div class="tmz-data-value">{RESP_SEXO}</div>
    </div>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">Estado Civil</div>
        <div class="tmz-data-value">{RESP_ESTADOCIVIL}</div>
    </div>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">Email</div>
        <div class="tmz-data-value">{RESP_EMAIL}</div>
    </div>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">Grau de Parentesco</div>
        <div class="tmz-data-value">{RESP_PARENTESCO}</div>
    </div>

<h3 class="titlehr">Detalhes</h3>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">Busca</div>
        <div class="tmz-data-value">{ONLINEOFFLINE}</div>
    </div>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">Senha</div>
        <div class="tmz-data-value">-</div>
    </div>

<h3 class="titlehr">Dependentes</h3>

    <!-- BEGIN DEPENDENTES_BLOCK -->

        <div class="tmz-data-holder">
            <div class="tmz-data-title">NOME</div>
            <div class="tmz-data-value">{DEP_NOME}</div>
        </div>

        <div class="tmz-data-holder">
            <div class="tmz-data-title">CPF</div>
            <div class="tmz-data-value">{DEP_CPF}</div>
        </div>

        <div class="tmz-data-holder">
            <div class="tmz-data-title">Data de Nascimento</div>
            <div class="tmz-data-value">{DEP_NASCIMENTO}</div>
        </div>

        <div class="tmz-data-holder">
            <div class="tmz-data-title">Sexo</div>
            <div class="tmz-data-value">{DEP_SEXO}</div>
        </div>

        <div class="tmz-data-holder">
            <div class="tmz-data-title">Grau de Parentesco</div>
            <div class="tmz-data-value">{DEP_PARENTESCO}</div>
        </div>

        <div class="tmz-data-holder">
            <div class="tmz-data-title">Estado Civil</div>
            <div class="tmz-data-value">{DEP_ESTADOCIVIL}</div>
        </div>

        <div class="tmz-data-holder">
            <div class="tmz-data-title">Nome da Mãe</div>
            <div class="tmz-data-value">{DEP_MAE}</div>
        </div>
        <br>

    <!-- END DEPENDENTES_BLOCK -->

        Não possui nenhum dependente!

    <!-- FINALLY DEPENDENTES_BLOCK -->
