<h2 class="header">Pedido</h2>

<blockquote>
    Descrição detalhada do pedido
</blockquote>

<h3 class="titlehr">Dados Gerais</h3>

    <input type="hidden" name="pedidoID" id="pedidoID" value="{ORDER_ID}">

    <div class="tmz-data-holder">
        <div class="tmz-data-title">Método</div>
        <div class="tmz-data-value">{METODO}</div>
    </div>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">Status</div>
        <div class="tmz-data-value">{STATUS}</div>
    </div>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">Localização</div>
        <div class="tmz-data-value">-</div>
    </div>

<h3 class="titlehr">Titular</h3>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">Nome</div>
        <div class="tmz-data-value"><input name="name" id="name" value="{NOME}" aria-table="Pre" aria-field="name" class="tmz-auto-save"></div>
    </div>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">CPF</div>
        <div class="tmz-data-value"><input name="cpf" id="cpf" value="{CPF}" aria-table="Titular" aria-field="cpf" class="tmz-auto-save maskcpf"></div>
    </div>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">RG</div>
        <div class="tmz-data-value"><input name="rg" id="rg" value="{RG}" aria-table="Titular" aria-field="rg" class="tmz-auto-save"></div>
    </div>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">Data de Nascimento</div>
        <div class="tmz-data-value">
            <input
                    name="nascimento"
                    id="nascimento"
                    value="{NASCIMENTO}"
                    aria-table="Titular"
                    aria-field="nascimento"
                    class="tmz-auto-save masknascimento"></div>
    </div>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">Sexo</div>
        <div class="tmz-data-value">
            <input type="hidden" aria-select="sexo" value="{SEXO}">
            <select name="sexo" id="sexo" class="tmz-auto-save" aria-table="Titular" aria-field="sexo">
                <option disabled="disabled" selected="selected">Selecione</option>
                <option value="1">Masculino</option>
                <option value="2">Feminino</option>
            </select>
        </div>
    </div>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">Estado Civil</div>
        <div class="tmz-data-value">
            <input type="hidden" aria-select="estadoCivil" value="{ESTADOCIVIL}">
            <select name="estadoCivil" id="estadoCivil" aria-table="Titular" class="tmz-auto-save" aria-field="estadoCivil">
                <option disabled="disabled" selected="selected">Selecione</option>
                <option value="1">Casado(a)</option>
                <option value="2">Divorciado(a)</option>
                <option value="3">Outros</option>
                <option value="4">Separado(a)</option>
                <option value="5">Solteiro(a)</option>
                <option value="6">Viuvo(a)</option>
            </select>
        </div>
    </div>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">Email</div>
        <div class="tmz-data-value"><input name="email" id="email" value="{EMAIL}" aria-table="Pre" class="tmz-auto-save" aria-field="email"></div>
    </div>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">Telefone</div>
        <div class="tmz-data-value"><input name="telephone" id="telephone" value="{TELEFONE}" aria-table="Pre" aria-field="telephone" class="tmz-auto-save"></div>
    </div>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">Telefone Res.</div>
        <div class="tmz-data-value"><input name="telRes" id="telRes" value="{TELRES}" aria-table="Titular" aria-field="telRes" class="tmz-auto-save"></div>
    </div>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">Nome da Mãe</div>
        <div class="tmz-data-value"><input name="mae" id="mae" value="{MAE}" aria-table="Titular" aria-field="mae" class="tmz-auto-save"></div>
    </div>

<h3 class="titlehr">Endereço</h3>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">Logradouro</div>
        <div class="tmz-data-value"><input name="logradouro" id="logradouro" value="{LOGRADOURO}" aria-table="End" aria-field="logradouro" class="tmz-auto-save"></div>
    </div>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">Número</div>
        <div class="tmz-data-value"><input name="numero" id="numero" value="{NUMERO}" aria-table="End" aria-field="numero" class="tmz-auto-save"></div>
    </div>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">Complemento</div>
        <div class="tmz-data-value"><input name="complemento" id="complemento" value="{COMPLEMENTO}" aria-table="End" aria-field="complemento" class="tmz-auto-save"></div>
    </div>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">Bairo</div>
        <div class="tmz-data-value"><input name="bairro" id="bairro" value="{BAIRRO}" aria-table="End" aria-field="bairro" class="tmz-auto-save"></div>
    </div>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">Cidade</div>
        <div class="tmz-data-value">
            <input name="cidade" id="cidade" value="{CIDADE}" aria-table="End" aria-field="cidade" class="tmz-auto-save">
        </div>
    </div>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">Estado</div>
        <div class="tmz-data-value">
            <input name="estado" id="estado" value="{ESTADO}" aria-table="End" aria-field="estado" class="tmz-auto-save">
        </div>
    </div>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">CEP</div>
        <div class="tmz-data-value"><input name="cep" id="cep" value="{CEP}" aria-table="End" aria-field="cep" class="tmz-auto-save"></div>
    </div>

<h3 class="titlehr">Responsável Financeiro</h3>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">Nome</div>
        <div class="tmz-data-value"><input name="rname" id="rname" value="{RESP_NOME}" aria-table="Responsavel" aria-field="nome" class="tmz-auto-save"></div>
    </div>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">CPF</div>
        <div class="tmz-data-value"><input name="rcpf" id="rcpf" value="{RESP_CPF}" aria-table="Responsavel" aria-field="cpf maskcpf" class="tmz-auto-save"></div>
    </div>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">Data de Nascimento</div>
        <div class="tmz-data-value">
            <input
                    name="rnascimento"
                    id="rnascimento"
                    value="{RESP_NASCIMENTO}"
                    aria-table="Responsavel"
                    aria-field="nascimento"
                    class="tmz-auto-save masknascimento">
        </div>
    </div>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">Sexo</div>
        <div class="tmz-data-value">
            <input type="hidden" aria-select="rsexo" value="{RESP_SEXO}">
            <select name="rsexo" id="rsexo" aria-table="Responsavel" aria-field="sexo" class="tmz-auto-save" >
                <option disabled="disabled" selected="selected">Selecione</option>
                <option value="1">Masculino</option>
                <option value="2">Feminino</option>
            </select>
        </div>
    </div>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">Estado Civil</div>
        <div class="tmz-data-value">
            <input type="hidden" aria-select="restadoCivil" value="{RESP_ESTADOCIVIL}">
            <select name="restadoCivil" id="restadoCivil" aria-table="Responsavel" class="tmz-auto-save" aria-field="estadoCivil">
                <option disabled="disabled" selected="selected">Selecione</option>
                <option value="1">Casado(a)</option>
                <option value="2">Divorciado(a)</option>
                <option value="3">Outros</option>
                <option value="4">Separado(a)</option>
                <option value="5">Solteiro(a)</option>
                <option value="6">Viuvo(a)</option>
            </select>
        </div>
    </div>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">Email</div>
        <div class="tmz-data-value"><input name="remail" id="remail" value="{RESP_EMAIL}" aria-table="Responsavel" aria-field="email" class="tmz-auto-save"></div>
    </div>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">Grau de Parentesco</div>
        <div class="tmz-data-value">
            <input type="hidden" aria-select="resp_grauParentesco" value="{RESP_PARENTESCO}">
            <select
                    name="resp_grauParentesco"
                    id="resp_grauParentesco"
                    aria-table="Responsavel"
                    aria-field="parentesco"
                    class="tmz-auto-save">
                <option disabled="disabled" selected="selected">Selecione</option>
                <option value="1">Cônjuge</option>
                <option value="2">Filho(a)</option>
                <option value="3">Irmão/Irmã</option>
                <option value="4">Outros</option>
                <option value="5">Pai/Mãe</option>
                <option value="6">Sogro(a)</option>
            </select>
        </div>
    </div>

<h3 class="titlehr">Detalhes</h3>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">Busca</div>
        <div class="tmz-data-value">
            <input type="hidden" aria-select="busca" value="{ONLINEOFFLINE}">
            <select
                    name="busca"
                    id="busca"
                    aria-table="Detalhes"
                    aria-field="onlineOffline"
                    class="tmz-auto-save">
                <option disabled="disabled" selected="selected">Selecione</option>
                <option value="1">Online</option>
                <option value="2">Offline</option>
            </select>
        </div>
    </div>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">Senha</div>
        <div class="tmz-data-value">-</div>
    </div>

<h3 class="titlehr">
    Dependentes
    <div class="tmz-dep-add">
        <a class="button"><i class="material-icons">add_box</i></a>
    </div>
</h3>

    <!-- BEGIN DEPENDENTES_BLOCK -->

        <div class="tmz-data-holder">
            <div class="tmz-data-title">NOME</div>
            <div class="tmz-data-value">
                <input
                        name="nome"
                        id="nome_{DEP_ID}"
                        value="{DEP_NOME}"
                        aria-table="Dependentes"
                        aria-field="nome"
                        aria-id="{DEP_ID}"
                        class="tmz-auto-save">
            </div>
        </div>

        <div class="tmz-data-holder">
            <div class="tmz-data-title">CPF</div>
            <div class="tmz-data-value">
                <input
                        name="cpf"
                        id="cpf_{DEP_ID}"
                        value="{DEP_CPF}"
                        aria-table="Dependentes"
                        aria-field="cpf"
                        aria-id="{DEP_ID}"
                        class="tmz-auto-save maskcpf">
            </div>
        </div>

        <div class="tmz-data-holder">
            <div class="tmz-data-title">Data de Nascimento</div>
            <div class="tmz-data-value">
                <input
                        name="nascimento"
                        id="nascimento_{DEP_ID}"
                        value="{DEP_NASCIMENTO}"
                        aria-table="Dependentes"
                        aria-field="nascimento"
                        aria-id="{DEP_ID}"
                        class="tmz-auto-save masknascimento">
            </div>
        </div>

        <div class="tmz-data-holder">
            <div class="tmz-data-title">Sexo</div>
            <div class="tmz-data-value">
                <input type="hidden" aria-select="dsexo_{DEP_ID}" value="{DEP_SEXO}">
                <select
                        name="dsexo"
                        id="dsexo_{DEP_ID}"
                        aria-table="Dependentes"
                        aria-field="sexo"
                        aria-id="{DEP_ID}"
                        class="tmz-auto-save">
                    <option disabled="disabled" selected="selected">Selecione</option>
                    <option value="1">Masculino</option>
                    <option value="2">Feminino</option>
                </select>
            </div>
        </div>

        <div class="tmz-data-holder">
            <div class="tmz-data-title">Grau de Parentesco</div>
            <div class="tmz-data-value">

                <input type="hidden" aria-select="dparentesco_{DEP_ID}" value="{DEP_PARENTESCO}">
                <select
                        name="dparentesco"
                        id="dparentesco_{DEP_ID}"
                        aria-table="Dependentes"
                        aria-field="parentesco"
                        aria-id="{DEP_ID}"
                        class="tmz-auto-save">
                    <option disabled="disabled" selected="selected">Selecione</option>
                    <option value="1">Cônjuge</option>
                    <option value="2">Filho(a)</option>
                    <option value="3">Irmão/Irmã</option>
                    <option value="4">Outros</option>
                    <option value="5">Pai/Mãe</option>
                    <option value="6">Sogro(a)</option>
                </select>
            </div>
        </div>

        <div class="tmz-data-holder">
            <div class="tmz-data-title">Estado Civil</div>
            <div class="tmz-data-value">
                <input type="hidden" aria-select="destadoCivil_{DEP_ID}" value="{DEP_ESTADOCIVIL}">
                <select
                        name="destadoCivil"
                        id="destadoCivil_{DEP_ID}"
                        aria-table="Dependentes"
                        aria-field="estadoCivil"
                        aria-id="{DEP_ID}"
                        class="tmz-auto-save">
                    <option disabled="disabled" selected="selected">Selecione</option>
                    <option value="1">Casado(a)</option>
                    <option value="2">Divorciado(a)</option>
                    <option value="3">Outros</option>
                    <option value="4">Separado(a)</option>
                    <option value="5">Solteiro(a)</option>
                    <option value="6">Viuvo(a)</option>
                </select>
            </div>
        </div>

        <div class="tmz-data-holder">
            <div class="tmz-data-title">Nome da Mãe</div>
            <div class="tmz-data-value">
                <input
                        name="mae"
                        id="mae_{DEP_ID}"
                        value="{DEP_MAE}"
                        aria-table="Dependentes"
                        aria-field="mae"
                        aria-id="{DEP_ID}"
                        class="tmz-auto-save">
            </div>
        </div>

        <div class="tmz-data-holder">
            <div class="tmz-data-title">&nbsp;</div>
            <div class="tmz-data-value"><a class="btn btn-small red" href="/adm/dependente/remover/{ORDER_ID}/{DEP_ID}">REMOVER</a> </div>
        </div>
        <br>

    <!-- END DEPENDENTES_BLOCK -->

        <div class="tmz-data-holder">
            <div class="tmz-data-title">Quantidade</div>
            <div class="tmz-data-value">{QTD_PEOPLE}</div>
        </div>

    <!-- FINALLY DEPENDENTES_BLOCK -->

<h3 class="titlehr">Informações do Pagamento</h3>

        <!-- BEGIN CARTAO_BLOCK -->

            <div class="tmz-data-holder">
                <div class="tmz-data-title">Tipo de Pagamento</div>
                <div class="tmz-data-value">Cartão</div>
            </div>

            <div class="tmz-data-holder">
                <div class="tmz-data-title">Bandeira</div>
                <div class="tmz-data-value">{CARTAO_BANDEIRA}</div>
            </div>

            <div class="tmz-data-holder">
                <div class="tmz-data-title">Parcelas</div>
                <div class="tmz-data-value">{CARTAO_PARCELAS}</div>
            </div>

            <div class="tmz-data-holder">
                <div class="tmz-data-title">Titular</div>
                <div class="tmz-data-value">{CARTAO_TITULAR}</div>
            </div>

            <div class="tmz-data-holder">
                <div class="tmz-data-title">Número</div>
                <div class="tmz-data-value">{CARTAO_NUMERO}</div>
            </div>

            <div class="tmz-data-holder">
                <div class="tmz-data-title">Validade</div>
                <div class="tmz-data-value">{CARTAO_VALIDADE}</div>
            </div>

            <div class="tmz-data-holder">
                <div class="tmz-data-title">Código de Segurança</div>
                <div class="tmz-data-value">{CARTAO_CODIGO}</div>
            </div>

        <!-- END CARTAO_BLOCK -->

        <!-- BEGIN BOLETO_BLOCK -->

            <div class="tmz-data-holder">
                <div class="tmz-data-title">Tipo de Pagamento</div>
                <div class="tmz-data-value">Boleto</div>
            </div>

            <div class="tmz-data-holder">
                <div class="tmz-data-title">Recorrência</div>
                <div class="tmz-data-value">{BOLETO_RECORRENCIA}</div>
            </div>

        <!-- END BOLETO_BLOCK -->

        <!-- BEGIN NOPAY_BLOCK -->

            <div class="tmz-data-holder">
                <div class="tmz-data-title">Tipo de Pagamento</div>
                <div class="tmz-data-value">Nenhum</div>
            </div>
        <!-- END NOPAY_BLOCK -->

<h3 class="titlehr">Ações</h3>

<a class="btn-flat blue-grey-text" href="/adm/pedidos">Voltar</a>
<a class="btn  blue-grey-text orange lighten-5" href="/adm/pedido/progresso/{ORDER_ID}/1">pendente</a>
<a class="btn red modal-trigger" href="#modal1">Dispensar</a>
<a class="btn" href="/adm/pedido/progresso/{ORDER_ID}/0">Concluido</a>

<!-- Modal Structure -->
<div id="modal1" class="modal bottom-sheet">

    <div class="modal-content">

        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat right">Voltar</a>
        <h4 class="">Motivo da dispensa</h4>

        <a href="/adm/pedido/progresso/{ORDER_ID}/4" class="tmz-dismiss-reason">Dados incorretos - Cartão</a>
        <a href="/adm/pedido/progresso/{ORDER_ID}/5" class="tmz-dismiss-reason">Dados incorretos - Pessoal</a>
        <a href="/adm/pedido/progresso/{ORDER_ID}/6" class="tmz-dismiss-reason">Dados incorretos - Endereço</a>
        <a href="/adm/pedido/progresso/{ORDER_ID}/2" class="tmz-dismiss-reason">Número Inexistente</a>
        <a href="/adm/pedido/progresso/{ORDER_ID}/3" class="tmz-dismiss-reason">Recusado Verbalmente</a>
        <a href="/adm/pedido/progresso/{ORDER_ID}/7" class="tmz-dismiss-reason">Outro</a>

    </div>

</div>

<div class="tmz-mini-alert">
    Salvando ...
</div>