<h2 class="header">Pedido</h2>

<blockquote>
    Descrição detalhada do pedido
</blockquote>

<h3 class="titlehr">Dados Gerais</h3>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">Método</div>
        <div class="tmz-data-value">{METODO}</div>
    </div>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">Status</div>
        <div class="tmz-data-value">{STATUS}</div>
    </div>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">Localização</div>
        <div class="tmz-data-value">-</div>
    </div>

<h3 class="titlehr">Titular</h3>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">Nome</div>
        <div class="tmz-data-value">{NOME}</div>
    </div>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">CPF</div>
        <div class="tmz-data-value">{CPF}</div>
    </div>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">RG</div>
        <div class="tmz-data-value">{RG}</div>
    </div>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">Data de Nascimento</div>
        <div class="tmz-data-value">{NASCIMENTO}</div>
    </div>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">Sexo</div>
        <div class="tmz-data-value">{SEXO}</div>
    </div>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">Estado Civil</div>
        <div class="tmz-data-value">{ESTADOCIVIL}</div>
    </div>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">Email</div>
        <div class="tmz-data-value">{EMAIL}</div>
    </div>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">Telefone</div>
        <div class="tmz-data-value">{TELEFONE}</div>
    </div>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">Telefone Res.</div>
        <div class="tmz-data-value">{TELRES}</div>
    </div>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">Nome da Mãe</div>
        <div class="tmz-data-value">{MAE}</div>
    </div>

<h3 class="titlehr">Endereço</h3>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">Logradouro</div>
        <div class="tmz-data-value">{LOGRADOURO}</div>
    </div>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">Número</div>
        <div class="tmz-data-value">{NUMERO}</div>
    </div>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">Complemento</div>
        <div class="tmz-data-value">{COMPLEMENTO}</div>
    </div>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">Bairo</div>
        <div class="tmz-data-value">{BAIRRO}</div>
    </div>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">Cidade</div>
        <div class="tmz-data-value">{CIDADE} - {ESTADO}</div>
    </div>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">CEP</div>
        <div class="tmz-data-value">{CEP}</div>
    </div>

<h3 class="titlehr">Responsável Financeiro</h3>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">Nome</div>
        <div class="tmz-data-value">{RESP_NOME}</div>
    </div>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">CPF</div>
        <div class="tmz-data-value">{RESP_CPF}</div>
    </div>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">Data de Nascimento</div>
        <div class="tmz-data-value">{RESP_NASCIMENTO}</div>
    </div>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">Sexo</div>
        <div class="tmz-data-value">{RESP_SEXO}</div>
    </div>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">Estado Civil</div>
        <div class="tmz-data-value">{RESP_ESTADOCIVIL}</div>
    </div>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">Email</div>
        <div class="tmz-data-value">{RESP_EMAIL}</div>
    </div>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">Grau de Parentesco</div>
        <div class="tmz-data-value">{RESP_PARENTESCO}</div>
    </div>

<h3 class="titlehr">Detalhes</h3>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">Busca</div>
        <div class="tmz-data-value">{ONLINEOFFLINE}</div>
    </div>

    <div class="tmz-data-holder">
        <div class="tmz-data-title">Senha</div>
        <div class="tmz-data-value">-</div>
    </div>

<h3 class="titlehr">Dependentes</h3>

    <!-- BEGIN DEPENDENTES_BLOCK -->

        <div class="tmz-data-holder">
            <div class="tmz-data-title">NOME</div>
            <div class="tmz-data-value">{DEP_NOME}</div>
        </div>

        <div class="tmz-data-holder">
            <div class="tmz-data-title">CPF</div>
            <div class="tmz-data-value">{DEP_CPF}</div>
        </div>

        <div class="tmz-data-holder">
            <div class="tmz-data-title">Data de Nascimento</div>
            <div class="tmz-data-value">{DEP_NASCIMENTO}</div>
        </div>

        <div class="tmz-data-holder">
            <div class="tmz-data-title">Sexo</div>
            <div class="tmz-data-value">{DEP_SEXO}</div>
        </div>

        <div class="tmz-data-holder">
            <div class="tmz-data-title">Grau de Parentesco</div>
            <div class="tmz-data-value">{DEP_PARENTESCO}</div>
        </div>

        <div class="tmz-data-holder">
            <div class="tmz-data-title">Estado Civil</div>
            <div class="tmz-data-value">{DEP_ESTADOCIVIL}</div>
        </div>

        <div class="tmz-data-holder">
            <div class="tmz-data-title">Nome da Mãe</div>
            <div class="tmz-data-value">{DEP_MAE}</div>
        </div>
        <br>

    <!-- END DEPENDENTES_BLOCK -->

        <div class="tmz-data-holder">
            <div class="tmz-data-title">Quantidade</div>
            <div class="tmz-data-value">{QTD_PEOPLE}</div>
        </div>

    <!-- FINALLY DEPENDENTES_BLOCK -->

<h3 class="titlehr">Informações do Pagamento</h3>

        <!-- BEGIN CARTAO_BLOCK -->

            <div class="tmz-data-holder">
                <div class="tmz-data-title">Tipo de Pagamento</div>
                <div class="tmz-data-value">Cartão</div>
            </div>

            <div class="tmz-data-holder">
                <div class="tmz-data-title">Bandeira</div>
                <div class="tmz-data-value">{CARTAO_BANDEIRA}</div>
            </div>

            <div class="tmz-data-holder">
                <div class="tmz-data-title">Parcelas</div>
                <div class="tmz-data-value">{CARTAO_PARCELAS}</div>
            </div>

            <div class="tmz-data-holder">
                <div class="tmz-data-title">Titular</div>
                <div class="tmz-data-value">{CARTAO_TITULAR}</div>
            </div>

            <div class="tmz-data-holder">
                <div class="tmz-data-title">Número</div>
                <div class="tmz-data-value">{CARTAO_NUMERO}</div>
            </div>

            <div class="tmz-data-holder">
                <div class="tmz-data-title">Validade</div>
                <div class="tmz-data-value">{CARTAO_VALIDADE}</div>
            </div>

            <div class="tmz-data-holder">
                <div class="tmz-data-title">Código de Segurança</div>
                <div class="tmz-data-value">{CARTAO_CODIGO}</div>
            </div>

        <!-- END CARTAO_BLOCK -->

        <!-- BEGIN BOLETO_BLOCK -->

            <div class="tmz-data-holder">
                <div class="tmz-data-title">Tipo de Pagamento</div>
                <div class="tmz-data-value">Boleto</div>
            </div>

            <div class="tmz-data-holder">
                <div class="tmz-data-title">Recorrência</div>
                <div class="tmz-data-value">{BOLETO_RECORRENCIA}</div>
            </div>

        <!-- END BOLETO_BLOCK -->

        <!-- BEGIN NOPAY_BLOCK -->

            <div class="tmz-data-holder">
                <div class="tmz-data-title">Tipo de Pagamento</div>
                <div class="tmz-data-value">Nenhum</div>
            </div>
        <!-- END NOPAY_BLOCK -->

<h3 class="titlehr">Ações</h3>

    <a class="btn-flat blue-grey-text" href="/adm/pedidos">Voltar</a>
    <a class="btn  blue-grey-text orange lighten-5" href="/adm/pedido/progresso/{ORDER_ID}/1">pendente</a>
    <a class="btn red modal-trigger" href="#modal1">Dispensar</a>
    <a class="btn" href="/adm/pedido/progresso/{ORDER_ID}/0">Concluido</a>

    <!-- Modal Structure -->
    <div id="modal1" class="modal bottom-sheet">

        <div class="modal-content">

            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat right">Voltar</a>
            <h4 class="">Motivo da dispensa</h4>

            <a href="/adm/pedido/progresso/{ORDER_ID}/4" class="tmz-dismiss-reason">Dados incorretos - Cartão</a>
            <a href="/adm/pedido/progresso/{ORDER_ID}/5" class="tmz-dismiss-reason">Dados incorretos - Pessoal</a>
            <a href="/adm/pedido/progresso/{ORDER_ID}/6" class="tmz-dismiss-reason">Dados incorretos - Endereço</a>
            <a href="/adm/pedido/progresso/{ORDER_ID}/2" class="tmz-dismiss-reason">Número Inexistente</a>
            <a href="/adm/pedido/progresso/{ORDER_ID}/3" class="tmz-dismiss-reason">Recusado Verbalmente</a>
            <a href="/adm/pedido/progresso/{ORDER_ID}/7" class="tmz-dismiss-reason">Outro</a>

        </div>

    </div>