<div class="tmz-types">
    <div class="title">PLANO DENTAL PESSOA FÍSICA</div>
    <div class="detail">{PLAN_DETAIL}</div>
</div>

<div class="clearfix orcamento-preset">
    <div class="panel-value tmz-permonth" onclick="orcamentoPreset('boleto', 12);">

        <div class="price">
            <!--R$ 42,90-->
            {MONTH_PRICE}
        </div>

        <div class="detail">
            mensais
        </div>

    </div>

    <div class="panel-value tmz-peryear" onclick="orcamentoPreset('boleto', 1);">

        <div class="price">
            <!--R$ 420,90-->
            {YEAR_PRICE}
        </div>

        <div class="detail">
            à vista
        </div>

    </div>
</div>

<button class="orcamento-contratar" onclick="window.location.href='/cadastro'">CONTRATAR AGORA</button>