<div class="tmz-types">
    <div class="title">PLANO DENTAL PESSOA FÍSICA</div>
    <div class="detail">{PLAN_DETAIL}</div>
</div>

<div class="parcelas">
    <ul>

        <li>
            <div class="prestacoes">À VISTA</div>
            <div class="valores">{CARD_1X}</div>
        </li>
        <li>
            <div class="prestacoes">2x</div>
            <div class="valores">{CARD_2X}</div>
        </li>
        <li>
            <div class="prestacoes">3x</div>
            <div class="valores">{CARD_3X}</div>
        </li>
        <li>
            <div class="prestacoes">4x</div>
            <div class="valores">{CARD_4X}</div>
        </li>
        <li>
            <div class="prestacoes">6x</div>
            <div class="valores">{CARD_6X}</div>
        </li>
        <li>
            <div class="prestacoes">12x</div>
            <div class="valores">{CARD_12X}</div>
        </li>

    </ul>
</div>

<div class="details">
    <div class="panel">SEM CARÊNCIA</div>
    <div class="panel">15% DE DESCONTO</div>
</div>

<button class="orcamento-contratar"c>CONTRATAR AGORA</button>