<div id="orcamento">
    <div class="container inner">

        <div class="left">
            <form id="orcamento-form">

                <h1>QUANTO CUSTA?</h1>

                <div class="ip-place">
                    <label for="name">Nome completo:<span>*</span></label>
                    <input type="text" name="name" id="name">
                </div>

                <div class="ip-place">
                    <label for="email">E-mail:<span>*</span></label>
                    <input type="text" name="email" id="email">
                </div>

                <div class="ip-place">
                    <label for="telefone">Telefone:<span>*</span></label>
                    <input type="text" name="telefone" id="telefone">
                </div>

                <div class="ip-place">
                    <label for="pag">Forma de pagamento:<span>*</span></label>
                    <select id="pag" name="pag">
                        <option value="cartao">Cartão</option>
                        <option value="boleto">Boleto bancário</option>
                    </select>
                </div>

                <div class="ip-place half">
                    <label for="numero">Número de pessoas:<span>*</span></label>
                    <input type="text" name="numero" id="numero">
                </div>

                <button type="submit">CALCULAR</button>

            </form>
        </div><!-- .left -->

        <div class="right tmz-infos">
            <h4>
                Só a Amil Dental lhe oferece <strong>3 opções</strong> para
                pagamento de seu plano.
            </h4>

            <ul>
                <li><strong>Boleto à vista</strong> - com 15% de desconto e carência de apenas 24h.</li>
                <li><strong>Cartão de crédito</strong> - em até 12 vezes, nas bandeiras Master, Visa e ELO, com 15% de desconto e carência de apenas 24h</li>
                <li><strong>Boleto mensal.</strong></li>
            </ul>

            <p>
                Utilize nossa ferramenta de simulação para visualizar os valores de acordo com
                o número de beneficiários e forma de pagamento.
            </p>
        </div>

        <div class="right">



        </div><!-- .right -->

        <br>

    </div><!-- .container .inner -->
</div>