<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Compre Amil</title>

    <link href="/assets/site/css/index.css" rel="stylesheet">
    <link href="/assets/site/css/remodal.css" rel="stylesheet">
    <link href="/assets/site/css/remodal-default-theme.css" rel="stylesheet">

</head>
<body>

    <!-- BEGIN:HEADER -->
    <div id="header">
        <div class="container">

            <div id="header_logo_detail"></div>

            <div id="header_logo">
                <a href="/"><img src="/assets/site/imgs/header_logo.png"></a>
            </div>

            <div class="info">

                <div class="contact">
                    <span class="text">Ligue agora:</span>
                    <span class="number">(11) 5525-3438</span>
                </div>

            </div><!-- .info -->

        </div><!-- .container -->
    </div><!-- #header -->
    <!-- END:HEADER -->

    {CONTENT}

    <!-- BEGIN:FOOTER -->
    <div id="footer" class="clearfix">
        <div class="container">

            <div id="footer_logo">
                <a href="/"><img src="/assets/site/imgs/footer_logo.png" alt="Compre Amil"></a>
            </div>
            <div class="description">
                Planos com um atendimento pleno, que oferecem
                cobertura nacional em uma rede credenciada
                abrangente e de alto nível.
            </div>

            <div class="fast-access clearfix">
                <div class="title">
                    Acesso Rápido
                </div>
                <ul>
                    <li><a class="clicker" href="#content-conhecaamil">Amil Dental</a></li>
                    <li><a class="clicker" href="/orcamento">Orçamento online</a></li>
                    <li><a class="clicker" href="#content-diferenciais">Diferenciais</a></li>
                    <li><a class="clicker" href="#content-redecredenciada">Rede credenciada</a></li>
                    <li><a class="clicker" href="#content-faleconosco">Fale conosco</a></li>
                </ul>
            </div>

            <div class="estimate-request">Solicitar orçamento Online</div>

            <div class="footer-cdc-logo">
                <img src="/assets/site/imgs/footer_cdc.png" alt="Casa do Corretor">
                <img src="/assets/site/imgs/footer_selo.png" alt="AMIL">
            </div>

        </div><!-- .container -->
    </div><!-- #footer -->
    <!-- END:FOOTER -->

    <script src="/assets/site/js/jquery-1.12.3.min.js" type="text/javascript"></script>
    <script src="/assets/site/js/jquery.mask.js" type="text/javascript"></script>
    <script src="/assets/site/js/form.functions.js" type="text/javascript"></script>
    <script src="/assets/site/js/remodal.js" type="text/javascript"></script>
    <script src="/assets/site/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="/assets/site/js/index.js" type="text/javascript"></script>
</body>
</html>