<div class="valign-wrapper login-card">
    <div class="card" id="login-form-card">

        <form method="post">

            <div class="card-content">
                <span class="card-title">Login</span>
                {ALERTS_ERRORS}
                <hr>
                <div class="input-field">
                    <input id="usuario" name="usuario" type="text" class="validate">
                    <label for="usuario">Usuário</label>
                </div>
                <div class="input-field">
                    <input id="senha" name="senha" type="password" class="validate">
                    <label for="senha">Senha</label>
                </div>
            </div><!-- .card-content -->

            <div class="card-action">
                <button type="submit" class="waves-effect waves-light btn"><i class="material-icons right">navigate_next</i>ENTRAR</button>
            </div>

        </form>

    </div>
</div>
