main > .container {
    padding: 50px 0;
}
.hidden {
    display: none;
}
.tmz-order-sollig,
.tmz-order-inc {
    padding: 2px 8px;
    color: #ffffff;
    border-radius: 4px;
    display: inline-block;
}
.tmz-order-inc {
    background-color: #d50000;
}
.tmz-order-sollig {
    background-color: #e65100;
}
.header {
    font-weight: 200;
    color: #e65100;
}
blockquote {
    border-left-color: #ef6c00;
    color: #4c2e16;
    margin-bottom: 35px !important;
}
.tmz-edit-buttons i.right {
    margin-left: 0 !important;
}
.tmz-bg-red {
    background-color: #f44336;
}
.tmz-select-label input.select-dropdown {
    color: #9E9E9E;
    padding-left: 10px;
}
.tmz-cancel {
    color: #9E9E9E;
}
.tmz-cancel:hover {
    color: #4c2e16;
}