.tmz-data-holder
{
    position: relative;
}
.tmz-data-holder:after
{
    content: "";
    display: table;
    clear: both;
}
.tmz-data-title,
.tmz-data-value
{
    float: left;
    position: relative;
}
.tmz-data-title
{
    width: 20%;
    text-align: right;
    font-weight: 600;
    padding-right: 15px;
}
.tmz-data-value
{
    width: 79%;
}
h3.titlehr
{
    font-weight: 200;
    color: #e65100;
    font-size: 2.8em;
    line-height: 110%;
    margin: 1.78rem 0 1.424rem 0;
    display: block;
    border-bottom: 1px solid #d0d0d0;
    padding: 0 0 1.424rem 0;
}
.tmz-dismiss-reason
{
    display: block;
    margin-bottom: 5px;
    padding: 5px 15px;
    background-color: #364146;
    color: #ffffff;
}
.tmz-tab-content
{
    padding-top: 20px !important;
}

.tmz-mini-alert
{
    display: none;
    padding: 8px;
    position: fixed;
    bottom: 0;
    margin: 0 auto;
    color: #ffffff;
    background-color: #e65100;
}
.tmz-auto-save,
.tmz-auto-save input
{
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
    box-shadow: none !important;
    height: auto !important;
    line-height: inherit !important;
}
.tmz-auto-save:focus
{
    font-weight: 700;
    color: #e65100;
}