<div id="cadastro">
    <div class="container inner">

            <h2>Beneficiários cadastrados</h2>

            <div class="titular-wrapper">
                <div class="name">João Perdido</div>
                <div class="titulo">Titular</div>
            </div>

            <div class="dependente-wrapper">
                <div class="name">Filho Mais Perdido do João</div>
                <div class="titulo">Dependente</div>
            </div>

            <div class="dependente-wrapper">
                <div class="name">Filho Mais Perdido do João</div>
                <div class="titulo">Dependente</div>
            </div>

            <button class="tmz-include-button">Incluir dependente</button>

            <div class="tmz-precos-parcelas clearfix">

                <div class="tmz-dependetes">
                    <div class="tmz-dep-qtd">
                        01
                    </div>
                    <div class="titulo">
                        Beneficiário(s)<br>
                        Cadastrados
                    </div>
                </div>

                <div class="tmz-dependetes">
                    <div class="icon">
                        <img src="/assets/site/imgs/icon_card.png">
                    </div>
                    <div class="tmz-pag-prices">
                        12x de R$ 45,50<br>
                        <span class="tmz-tipo-pag">no cartão de crédito</span>
                    </div>
                </div>

                <div class="tmz-dependetes">
                    <div class="icon">
                        <img src="/assets/site/imgs/icon_slip.png">
                    </div>
                    <div class="tmz-pag-prices">
                        <br>
                        <span class="tmz-tipo-pag">no boleto mensal</span>
                    </div>
                </div>

                <div class="tmz-dependetes">
                    <div class="icon">
                        <img src="/assets/site/imgs/icon_slip.png">
                    </div>
                    <div class="tmz-pag-prices">
                        <br>
                        <span class="tmz-tipo-pag">no boleto anual</span>
                    </div>
                </div>

            </div>

            <button class="form-next">Prosseguir</button>

        </form>
    </div>
</div>