<div id="cadastro">
    <div class="container inner">
        <h1>CONTRATAR AMIL DENTAL</h1>
        <form method="post" action="/cadastro">
            <div class="input-place">
                <label for="localizacao">Localização</label>
                <select name="localizacao" id="localizacao">
                    <!-- BEGIN ESTADOS_BLOCK -->
                    <option value="{ID_ESTADO}">{NOME}</option>
                    <!-- END ESTADOS_BLOCK -->
                </select>
            </div>

            <h2>DADOS DO TITULAR</h2>

            <div class="wrapper">
                <div class="input-place">
                    <label for="nome">Nome completo:</label>
                    <input name="nome" id="nome" type="text" class="large" value="{NAME}">
                </div>

                <div class="input-place">
                    <label for="cpf">CPF.:</label>
                    <input name="cpf" id="cpf" type="text">
                </div>

                <div class="input-place">
                    <div class="col50">
                        <label for="rg">RG:</label>
                        <input name="rg" id="rg" type="text">
                    </div>
                    <div class="col50 small">
                        <label for="emissor">Emissor:</label>
                        <input name="emissor" id="emissor" type="text">
                    </div>
                </div>
                <br>

                <div class="input-place">
                    <label for="dataNascimento">Data de nascimento:</label>
                    <input name="dataNascimento" id="dataNascimento" type="text">
                </div>

                <div class="input-place">
                    <label for="sexo">Sexo:</label>
                    <select name="sexo" id="sexo">
                        <option disabled="disabled" selected="selected">Selecione</option>
                        <option>Masculino</option>
                        <option>Feminino</option>
                    </select>
                </div>

                <div class="input-place">
                    <label for="estadoCivil">Estado Civil:</label>
                    <select name="estadoCivil" id="estadoCivil">
                        <option disabled="disabled" selected="selected">Selecione</option>
                        <option>Casado(a)</option>
                        <option>Divorciado(a)</option>
                        <option>Outros</option>
                        <option>Separado(a)</option>
                        <option>Solteiro(a)</option>
                        <option>Viuvo(a)</option>
                    </select>
                </div>

                <div class="input-place">
                    <label for="email">Email:</label>
                    <input name="email" id="email" type="text" class="large" value="{EMAIL}">
                </div>

                <div class="input-place">
                    <label for="telefoneResidencial">Telefone residencial:</label>
                    <input name="telefoneResidencial" id="telefoneResidencial" type="text">
                </div>

                <div class="input-place">
                    <label for="telefoneCelular">Telefone celular:</label>
                    <input name="telefoneCelular" id="telefoneCelular" type="text">
                </div>

                <div class="input-place">
                    <label for="nomeMae">Nome da mãe:</label>
                    <input name="nomeMae" id="nomeMae" type="text" class="large">
                </div>

                <h2>Endereço do titular</h2>

                <div class="input-place">
                    <label for="cep">CEP:</label>
                    <input name="cep" id="cep" type="text">
                    <button type="button" id="busca_cep">BUSCAR</button>
                </div>

                <div class="wrapper-end">

                    <div class="input-place">
                        <label for="logradouro">Endereço:</label>
                        <input name="logradouro" id="logradouro" type="text" class="large">
                    </div>

                    <div class="input-place">
                        <label for="numero">Número:</label>
                        <input name="numero" id="numero" type="text">
                    </div>

                    <div class="input-place">
                        <label for="complemento">Complemento:</label>
                        <input name="complemento" id="complemento" type="text">
                    </div>

                    <div class="input-place">
                        <label for="bairro">Bairro:</label>
                        <input name="bairro" id="bairro" type="text">
                    </div>

                    <div class="input-place">
                        <label for="cidade">Cidade:</label>
                        <input name="cidade" id="cidade" type="text">
                    </div>

                    <div class="input-place">
                        <label for="estado">Estado:</label>
                        <input name="estado" id="estado" type="text">
                    </div>

                </div>

                <h2>Responsável financeiro</h2>

                <div class="asks">
                    <h6>O titular é reponsável financeiramente por este contrato?</h6>

                    <ul id="wrapper_resp">
                        <li>
                            <input type="radio" name="responsavel" id="responsavel-sim" value="true" checked="checked">
                            <label for="responsavel-sim">Sim</label>
                        </li>
                        <li>
                            <input type="radio" name="responsavel" id="responsavel-nao" value="false">
                            <label for="responsavel-nao">Não</label>
                        </li>
                    </ul>
                </div>
                <br>


                <div class="wrapper-responsavel">

                    <div class="input-place">
                        <label for="resp_nome">Nome completo:</label>
                        <input name="resp_nome" id="resp_nome" type="text" class="large">
                    </div>

                    <div class="input-place">
                        <label for="resp_cpf">CPF.:</label>
                        <input name="resp_cpf" id="resp_cpf" type="text">
                    </div>

                    <div class="input-place">
                        <label for="resp_dataNascimento">Data de nascimento:</label>
                        <input name="resp_dataNascimento" id="resp_dataNascimento" type="text">
                    </div>

                    <div class="input-place">
                        <label for="resp_sexo">Sexo:</label>
                        <select name="resp_sexo" id="resp_sexo">
                            <option disabled="disabled" selected="selected">Selecione</option>
                            <option>Masculino</option>
                            <option>Feminino</option>
                        </select>
                    </div>

                    <div class="input-place">
                        <label for="resp_estadoCivil">Estado Civil:</label>
                        <select name="resp_estadoCivil" id="resp_estadoCivil">
                            <option disabled="disabled" selected="selected">Selecione</option>
                            <option>Casado(a)</option>
                            <option>Divorciado(a)</option>
                            <option>Outros</option>
                            <option>Separado(a)</option>
                            <option>Solteiro(a)</option>
                            <option>Viuvo(a)</option>
                        </select>
                    </div>

                    <div class="input-place">
                        <label for="resp_email">Email:</label>
                        <input name="resp_email" id="resp_email" type="text" class="large">
                    </div>

                    <div class="input-place">
                        <label for="resp_grauParentesco">Grau de parentesco:</label>
                        <select name="resp_grauParentesco" id="resp_grauParentesco">
                            <option disabled="disabled" selected="selected">Selecione</option>
                            <option>Cônjuge</option>
                            <option>Filho(a)</option>
                            <option>Irmão/Irmã</option>
                            <option>Outros</option>
                            <option>Pai/Mãe</option>
                            <option>Sogro(a)</option>
                        </select>
                    </div>

                </div>

                <h2>Busca da rede credenciada</h2>

                <div class="asks">
                    <h6>Como você gostaria de encontrar os dentistas da nossa rede credenciada?</h6>
                    <br>
                    <ul class="busca-rede-ul">
                        <li>
                            <input type="radio" name="busca_rede" id="buscaRedeOn">
                            <label for="buscaRedeOn">Online</label>
                            <img
                                src="/assets/site/imgs/icon_help.png"
                                class="masterTooltip"
                                title="Ocorre no próprio site <strong>amildental.com.br</strong>. <br>
                                É rápida, fácil e apresenta dados de rede credenciada 100%.<br>
                                 Nesta opção, você colabora com o meio ambiente.">
                        </li>

                        <li>
                            <input type="radio" name="busca_rede" id="buscaRedeOff">
                            <label for="buscaRedeOn">Offline</label>
                            <img
                                src="/assets/site/imgs/icon_help.png"
                                class="masterTooltip"
                                title="Alternativa para quem não possui acesso à internet.<br>
                                Nessa opção, um CD será enviado ao seu endereço.<br>
                                Não é possível garantir que a busca offline traga dados atualizados de rede credenciada.">
                        </li>
                    </ul>
                </div>
                <br>

                <h2>Senha</h2>

                <div class="input-place">
                    <label for="senha">Senha:</label>
                    <input name="senha" id="senha" type="password">
                </div>

                <div class="input-place">
                    <label for="conf_senha">Confirme a senha:</label>
                    <input name="conf_senha" id="conf_senha" type="password">
                </div>

                <h2>Contrato</h2>

                <br>
                <p>
                    Você precisa ler e aceitar os termos do contrato para prosseguir.
                    <br />
                    <br />
                </p>
                <div class="clearfix wrapper-termos">
                    <a href="/assets/site/pdf/contrato.pdf" target="_blank" class="pdf-titles clearfix">
                        <img src="/assets/site/imgs/icon_pdf.png">
                        <div>Contrato</div>
                    </a>

                    <hr>

                    <a href="/assets/site/pdf/declaracao_de_ciencia.pdf" target="_blank" class="pdf-titles clearfix small">
                        <img src="/assets/site/imgs/icon_pdf.png">
                        <div>Declaração de Ciência</div>
                    </a>

                    <a href="/assets/site/pdf/prc_aditivo.pdf" target="_blank" class="pdf-titles clearfix small">
                        <img src="/assets/site/imgs/icon_pdf.png">
                        <div>Aditivo Redução de Carência</div>
                    </a>

                    <a href="/assets/site/pdf/guia-leitura-contratual-pf.pdf" target="_blank" class="pdf-titles clearfix small">
                        <img src="/assets/site/imgs/icon_pdf.png">
                        <div>Guia de Leitura Contratual</div>
                    </a>

                    <a href="/assets/site/pdf/contrato-transparente.pdf" target="_blank" class="pdf-titles clearfix small">
                        <img src="/assets/site/imgs/icon_pdf.png">
                        <div>Contrato Transparente</div>
                    </a>

                    <a href="/assets/site/pdf/manual-contratacao-plano.pdf" target="_blank" class="pdf-titles clearfix small">
                        <img src="/assets/site/imgs/icon_pdf.png">
                        <div>Manual de Contratação</div>
                    </a>
                </div>

                <div class="tmz-check-div">
                    <input type="checkbox" id="aceito">
                    <label for="aceito">Li e concordo com os termos do contrato</label>
                </div>
            </div><!-- .wrapper -->

            <button class="form-next">Prosseguir</button>

        </form>
    </div>
</div>