
<div id="banner">
    <div id="family"></div>

    <div class="container clearfix">

        <div id="home_form">

            <div class="wrapper-slogan-stamp">
                <div id="slogan">
                    <img src="/assets/site/imgs/bannerSlogan.png" alt="cuide do seu sorriso a partir de R$ 42,00">
                </div><!-- #slogan -->
            </div>
            {ALERTS_ERRORS}
            <form action="/cadastro" method="post">

                <div class="input-place-home">
                    <label for="name">Nome completo: <span>*</span></label>
                    <input type="text" name="name" id="name"><br>
                </div>

                <div class="input-place-home">
                    <label for="email">E-mail: <span>*</span></label>
                    <input type="text" name="email" id="email"><br>
                </div>

                <div class="input-place-home">
                    <label for="telefone">Telefone: <span>*</span></label>
                    <input type="text" name="telefone" id="telefone">
                </div>

                <p><span>*</span>campos que devem ser preenchidos</p>

                <div class="buttons clearfix">
                    <button type="button" class="quanto" onclick="window.location.href='/orcamento'">QUANTO CUSTA?</button>
                    <button type="submit">COMPRE AGORA</button>
                </div>

            </form>
        </div><!-- #fomr_home -->
        <br>

    </div><!-- .container -->

</div><!-- #banner -->

<div id="descriptions">
    <div class="band"></div>
    <div class="container">

        <div class="titles clearfix">
            <div class="one"><a class="clicker" href="#content-coberturas"><div class="inner">COBERTURAS</div></a></div>
            <div class="two"><a class="clicker" href="#content-porquecontratar"><div class="inner">POR QUÊ CONTRATAR?</div></a></div>
            <div class="three"><a class="clicker" href="#content-redecredenciada"><div class="inner">REDE CREDENCIADA</div></a></div>
        </div><!-- .titles -->

        <div class="contents">

            <div class="content-coberturas tmz-content clearfix">

                <div class="wrapper clearfix">
                    <div class="hr"></div>
                    <div class="title">Coberturas</div>
                </div>

                <p>
                    O plano Amil Dental Pessoa Física oferece cobertura integral para todos os procedimentos do Rol ANS
                    (Agência Nacional de Saúde Suplementar) e mais 93 procedimentos extras, incluindo instalação de
                    aparelho ortodôntico fixo, nas seguintes especialidades:
                </p>

                <ul>
                    <li>Urgência/Emergência;</li>
                    <li>Consultas (inclusive aos sábados);</li>
                    <li>Limpeza, prevenção e aplicação de flúor (profilaxia);</li>
                    <li>Raios X (panorâmicos e periapicais);</li>
                    <li>Tratamento de gengiva (periodontia);</li>
                    <li>Tratamento para crianças (odontopediatria);</li>
                    <li>Restaurações (dentística);</li>
                    <li>Cirurgias e extrações (incluindo o dente do siso/incluso);</li>
                    <li>Tratamento de canal (endodontia).</li>
                    <li>Coroas (próteses – conforme RN 211) (Cobertura de Coroa válida para dentes que possuem a raiz)
                        (material da Coroa: Metal para dentes do fundo, Resina para dentes frontais)</li>
                </ul>

                <p>
                    <a class="fulllist-show">Ver tudo [+]</a>
                </p>

                <div class="coberturas-fulllist">

                    <p>Cobertura:</p>

                    <ul>
                        <li>Urgência – 24 Horas (Inclusive sábados, domingos e feriados)</li>
                        <li>Consultas</li>
                        <li>Limpeza, profilaxia e aplicação de flúor</li>
                        <li>Raios-X panorâmicos e periapicais</li>
                        <li>Tratamento de gengiva</li>
                        <li>Tratamento para crianças</li>
                        <li>Tratamento de Canal</li>
                        <li>Restaurações – obturações (de resina ou amálgama)</li>
                        <li>Cirurgias – extrações (incluindo o dente do siso)</li>
                        <li>Próteses unitárias – provisórias e definitivas, conforme RN 211 da ANS</li>
                    </ul>

                    <p>Novas Coberturas Adicionais:</p>

                    <ul>
                        <li>Clareamento de dente desvitalizado</li>
                        <li>Mantenedor de espaço fixo e móvel</li>
                        <li>Radiografias de ATM</li>
                        <li>Fechamento de diastemas</li>
                        <li>Telerradiografia frontal</li>
                        <li>Dessensibilização dentária</li>
                        <li>Enxertos gengivais e ósseos</li>
                        <li>Cirurgia com finalidade de tracionamento dentário</li>
                        <li>Documentação periodontal básica e em mídia digital</li>
                        <li>Instalação de aparelho ortodôntico (Atenção: Não cobre manutenção (mensalidade) e documentação
                            (radiografias, molde da boca e fotos da boca/perfil)</li>
                    </ul>

                    <p>
                        **Cobertura integral do Rol mínimo ANS e 93 procedimentos ondotológicos complementares (este nº
                        poderá varia com a inclusão de novos procedimentos no Rol mínimo)<br />
                        <br />
                        Todas as 93 Coberturas Extras que Amil Dental Oferece:
                    </p>

                    <ul>
                        <li>Avaliação da condição de saúde.</li>
                        <li>Atividade educativa em odontologia para pais e/ou cuidadores de pacientes com necessidades
                            especiais.</li>
                        <li>Atividade educativa para pais e/ou cuidadores.</li>
                        <li>Ajuste oclusal por acréscimo.</li>
                        <li>Aplicação de selante – técnica invasiva.</li>
                        <li>Aplicação tópica de verniz fluoretado.</li>
                        <li>Condicionamento em odontologia para pacientes com necessidades especiais.</li>
                        <li>Controle de cárie incipiente.</li>
                        <li>Consulta odontológica para avaliação técnica de auditoria.</li>
                        <li>Consulta para técnica de clareamento dentário caseiro.</li>
                        <li>Clareamento de dente desvitalizado.</li>
                        <li>Dessensibilização dentária.</li>
                        <li>Estabilização por meio de contenção física e/ou mecânica em pacientes com necessidades
                            especiais em odontologia.</li>
                        <li>Estabilização de paciente por meio de contenção física e/ou mecânica.</li>
                        <li>Fechamento de diastema por acréscimo de resina (código TUSS de restauração resina 3 faces).</li>
                        <li>Mumificação pulpar.</li>
                        <li>Pulpotomia em dente decíduo.</li>
                        <li>Restauração temporária/tratamento expectante.</li>
                        <li>Restauração atraumática em dente permanente.</li>
                        <li>Tratamento de fluorose – microabrasão.</li>
                        <li>Teste de capacidade tampão da saliva.</li>
                        <li>Teste de contagem microbiológica.</li>
                        <li>Coleta de raspado em lesões ou sítios específicos da região buco- maxilo-facial.</li>
                        <li>Diagnóstico e tratamento de estomatite herpética.</li>
                        <li>Diagnóstico e tratamento de estomatite por candidíase.</li>
                        <li>Diagnóstico e tratamento de halitose.</li>
                        <li>Diagnóstico e tratamento de xerostomia.</li>
                        <li>Radiografia anteroposterior.</li>
                        <li>Radiografia posteroanterior.</li>
                        <li>Radiografia da ATM.</li>
                        <li>Radiografia da ATM 3 posições transcraniana.</li>
                        <li>Radiografia da ATM 3 posições transfacial.</li>
                        <li>Radiografia da ATM 6 posições trascraniana/transfacial.</li>
                        <li>Radiografia panorâmica para ATM.</li>
                        <li>Radiografia panorâmica com traçado.</li>
                        <li>Radiografia da mão e punho – carpal.</li>
                        <li>Radiografia lateral corpo da mandíbula.</li>
                        <li>Documentação periodontal básica (periapicais, panorâmica, interproximal bitewing).</li>
                        <li>Documentação periodontal em mídia digital.</li>
                        <li>Telerradiografia frontal.</li>
                        <li>Acompanhamento de tratamento/procedimento cirúrgico em odontologia.</li>
                        <li>Cirurgia para exostose maxilar.</li>
                        <li>Cirurgia com finalidade de tracionamento dentário.</li>
                        <li>Controle pós-operatório em odontologia.</li>
                        <li>Exodontia de permanente por indicação ortodôntica/protética (incluso na cirurgia).</li>
                        <li>Remoção de dreno extraoral.</li>
                        <li>Remoção de dreno intraoral.</li>
                        <li>Retirada de corpo estranho subcutâneo ou submucoso da região buco-maxilo-facial.</li>
                        <li>Retirada de corpo estranho oroantral ou oronasal da região buco-maxilo-facial.</li>
                        <li>Rizectomia com obturação retrógrada.</li>
                        <li>Sinusostomia.</li>
                        <li>Tunelização.</li>
                        <li>Tratamento conservador de luxação da temporomandibular – ATM.</li>
                        <li>Coroa provisória prensada.</li>
                        <li>Coroa de acetato em dente decíduo.</li>
                        <li>Coroa de acetato em dente permanente.</li>
                        <li>Coroa 3/4.</li>
                        <li>Coroa 4/5.</li>
                        <li>Conserto em prótese parcial removível (exclusivamente em consultório).</li>
                        <li>Conserto em prótese total (exclusivamente em consultório).</li>
                        <li>Núcleo de fibra de vidro ou fibra de carbono.</li>
                        <li>Preparo para núcleo intrarradicular.</li>
                        <li>Pino pré-fabricado.</li>
                        <li>Reembasamento de coroa provisória.</li>
                        <li>Reembasamento de prótese total ou parcial – imediato (em consultório).</li>
                        <li>Avaliação periodontal e controle.</li>
                        <li>Cirurgia odontológica com aplicação de aloenxertos.</li>
                        <li>Enxerto pediculado.</li>
                        <li>Enxerto gengival livre.</li>
                        <li>Enxerto conjuntivo subepitelial.</li>
                        <li>Tratamento de gengivite necrosante aguda – GNA.</li>
                        <li>Tratamento de periodontite necrosante aguda – PUNA.</li>
                        <li>Arco lingual.</li>
                        <li>Barra transpalatina fixa.</li>
                        <li>Botão de Nance.</li>
                        <li>Conserto de aparelho fixo.</li>
                        <li>Conserto de aparelho móvel.</li>
                        <li>Contenção fixa – por arcada.</li>
                        <li>Expansor fixo.</li>
                        <li>Expansor móvel.</li>
                        <li>Grade palatina fixa.</li>
                        <li>Grade palatina removível.</li>
                        <li>Jig ou Front plato – órtese reposicionadora.</li>
                        <li>Placa de contenção.</li>
                        <li>Placa de Hawley.</li>
                        <li>Placa de Hawley – com torno expansor.</li>
                        <li>Placa lábio-ativa.</li>
                        <li>Placa oclusal resiliente.</li>
                        <li>Quadri-hélice.</li>
                        <li>Remoção de aparelho fixo em tratamentos realizados na rede credenciada.</li>
                        <li>Manutenção preventiva periódica.</li>
                        <li>Mantenedor de espaço fixo.</li>
                        <li>Mantenedor de espaço removível.</li>
                    </ul>

                </div><!-- .coberturas-fulllist -->

                <p>
                    Cobertura integral do Rol ANS (RN 211) + 93 Novos Procedimentos **
                </p>

            </div><!-- .content-coberturas -->

            <div class="content-porquecontratar tmz-content clearfix">

                <div class="wrapper clearfix">
                    <div class="hr"></div>
                    <div class="title">Porque Contratar?</div>
                </div>

                <p>
                    Para ter saúde total, você precisa estar em dia com sua saúde bucal. Além disso, ter um sorriso
                    bonito clareia muitas oportunidades em sua vida pessoal e profissional.
                </p>

            </div><!-- .content-porquecontratar -->

            <div class="content-redecredenciada tmz-content">

                <div class="wrapper clearfix">
                    <div class="hr"></div>
                    <div class="title">Rede Credenciada</div>
                </div>

                <p>
                    A Amil Dental possui mais de 25 mil opções de atendimento em todo o Brasil e você pode utilizar seu
                    plano em qualquer região, independente da região onde tenha realizado a contratação.<br />
                    <br />
                    Nossa rede credenciada é criteriosamente selecionada e é constantemente atualizada em nossa
                    ferramenta de busca online.
                </p>

            </div><!-- .content-redecredenciada -->

            <div class="content-conhecaamil tmz-content">

                <div class="wrapper clearfix">
                    <div class="hr"></div>
                    <div class="title">Conheça a Amil</div>
                </div>

                <p>
                    A semente que deu origem à Amil foi a Casa de Saúde São José, que, na época de sua aquisição, em
                    1972, era uma pequena clínica na cidade fluminense de Duque de Caxias. Cinco anos depois, já se
                    transformava na maior maternidade privada no estado do Rio de Janeiro. Em seguida, foram também
                    adquiridas as clínicas Somicol (atual Hospital de Clínicas Mario Lioni) e Santa Rita.<br />
                    <br />
                    Para administrá-las, foi criada a Empresa de Serviços Hospitalares (Esho). Após algum tempo, a São
                    José deixou de integrar o grupo, que atravessou a Baía de Guanabara e comprou a Policlínica São
                    Sebastião, no Barreto, em Niterói, em 1976. Os recursos oriundos da Esho permitiram a criação da
                    Amil Assistência Médica Internacional, no Rio de Janeiro, em 1978, que, por meio de ações ousadas e
                    inovadoras, começa a conquistar a confiança dos clientes e fornecedores já em 1986 é aberta a Amil
                    em São Paulo que em um curto espaço de tempo a marca Amil se consolida também na maior cidade do
                    Brasil.<br />
                    <br />
                    A missão da Amil é ajudar as pessoas a viver de forma mais saudável horando os valores com
                    Integridade, Compaixão, Relacionamentos, Inovação e Performace.
                </p>

            </div><!-- .content-conhecaamil -->

            <div class="content-orcamentoonline tmz-content">

                <div class="wrapper clearfix">
                    <div class="hr"></div>
                    <div class="title">Orçamento Online</div>
                </div>

                <p>[FORM]</p>

            </div><!-- .content-orcamentooline -->

            <div class="content-diferenciais tmz-content">

                <div class="wrapper clearfix">
                    <div class="hr"></div>
                    <div class="title">Diferenciais</div>
                </div>

                <p>
                    Conheça alguns diferencias da Amil Dental:
                </p>

                <ul>
                    <li>Teleatendimento 24 horas por dia</li>
                    <li>Autorização imediata dos tratamentos cobertos</li>
                    <li>Clínicas de urgência 24 horas</li>
                    <li>Atendimento nacional</li>
                    <li>Acesso à  área restrita no site Amil Dental para que você possa atualizar seus dados, acompanhar seus tratamentos e solicitar segunda via de carteirinha e de orientador da rede credenciada, entre outros serviços</li>
                    <li>Contratação on-line com 15% de desconto no pagamento com cartão de crédito e redução de carência</li>
                </ul>

            </div><!-- .content-difereciais -->

            <div class="content-faleconosco tmz-content">

                <p>
                    PAGINA DE CONTATO
                </p>

            </div><!-- .content-faleconsco -->

        </div><!-- .contents -->

    </div>
</div><!-- #descriptions -->