<div id="cadastro">
    <div class="container inner">

        <div class="tmz-success">

            <div class="tmz-success-img">
                <img src="/assets/site/imgs/check.png">
            </div>

            <div class="tmz-success-msg">

                Proposta enviada com sucesso! <br>
                Em beve um corretor entrará em contato através de email ou telefone.

            </div><!-- .tmz-success-msg --->

            <div class="tmz-success-ps">

                Certifique-se que os emails não sejam direcionados para sua caixa de spam.

            </div><!-- .tmz-success-ps -->

        </div>

    </div>
</div>