<div id="cadastro">
    <div class="container inner">

        <div class="tmz-success">

            <div class="tmz-success-img">
                <img src="/assets/site/imgs/check.png">
            </div>

            <div class="tmz-success-msg">

                Solicitação enviada com sucesso! 


            </div><!-- .tmz-success-msg --->

            <div class="tmz-success-ps">

                Em beve um corretor entrará em contato através do número informado.

            </div><!-- .tmz-success-ps -->

        </div>

    </div>
</div>